language: c
env:
  - BRANCH=devel

before_install:
  - export LD_LIBRARY_PATH=./htslib/
  - export PATH="$TRAVIS_BUILD_DIR/nim-$BRANCH/bin:$PATH"
  - export NIM_LIB_PREFIX=$TRAVIS_BUILD_DIR/nim-$BRANCH/

install:
  - bash ./scripts/install.sh
script:
  - nimble test
  - bash functional-tests.sh
  - nim c -r depthstat.nim
  - nim c -d:release --cc:$CC mosdepth.nim
  - ./mosdepth -h
branches:
  except:
    - gh-pages
